<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>UILaunchStoryBoardName</key>
    <string>LaunchScreen</string>
    <key>NSHealthShareUsageDescription</key>
    <string>This app require access to your health data to track fitness progress and personalize your experience.</string>
    <key>NSHealthUpdateUsageDescription</key>
    <string>This app write workout and activity data to HealthKit to help track your fitness goals.</string>
    <key>UILaunchStoryBoardName</key>
    <string>LaunchScreen</string>
	<key>CfBundleURLTypes</key>
	<array>
		<dict>
			<key>BaRaisingFit.com.APLDE-VO.BaRaisingFit</key>
			<string></string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array/>
		</dict>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
